# Python Language
## Functions
### In order to start with python programmation, is necessary to understand the basic syntaxes of this popular language. The next cells show the most important examples of python use.

In [1]:
# The variables are declared with '=' symbol, and python assigns type and value automatically. After declaring the variables we can use this for operations like the sum.
# A useful function in python for show results is 'print()' which prints the variable value or the result of a simple operation.
x = 1
y = 2
print(x+y)

3

In [3]:
y # The value of the variable is still the same after running the last cell

2

In [5]:
# The functions are structures that use values assigned by the user or inherent of their to make simple or complicated operations and return or not a value
# To start a function it's necessary to use 'def' word followed by the function name and parameters optionally
def add_numbers(x,y):
    return x+y

print(add_numbers(1,2))

3

In [6]:
# The function can use optional parameters. These parameters use a predetermined value assigned by '=' symbol in the declaration of the function. 
# If this valor is assigned by the user, the predetermined value is ignored 
def add_numbers(x,y,z=None):
    if(z==None):
        return x+y
    else:
        return x+y+z
    
print(add_numbers(1,2))
print(add_numbers(1,2,3))

3
6

In [8]:
# The result of the function can be assigned to a variable
a = add_numbers(6,7)
print(a)

13

## Types and Sequences
### In order to manipulate data, python provides rich types of variables. To know what type of data is a variable we can use the 'type()' function and send the variable as a parameter.

In [11]:
print(type("This is a string")) #String type
print(type(5)) #Int type
print(type(5.0)) #Float type
print(type(None)) #None type
print(type(add_numbers)) #Function type
print(type((1, 3, 4, 5))) #Tuple type
print(type([1, 2, 3, 4])) #List Type
print(type({'First': 1, 'Second': 3})) #Dictionary type

<class 'str'>
<class 'int'>
<class 'float'>
<class 'NoneType'>
<class 'function'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

## To manipulate tuple, list and dictionary we have several forms

In [16]:
x = [1,2,3,4] #This is a list, we can add, remove, use loops through each item in the list.
y = [3,4,5,6]
x.append(5) #Add element to the list
print(x) 
x.remove(1) #Remove the element 1 of the list
print(x)
for item in x:
    print(item) #Print each item of the list
print(x+y) # With '+' symbol we concatenate lists
print(x*3) # Use '*' symbol fot repeat the list
print(1 in x) # Use 'in' function to check if element is inside a list

[1, 2, 3, 4, 5]
[2, 3, 4, 5]
2
3
4
5
[2, 3, 4, 5, 3, 4, 5, 6]
[2, 3, 4, 5, 2, 3, 4, 5, 2, 3, 4, 5]
False

### The string have very methods of list but not are exactly the same. Let's see some of this operations.

In [18]:
x = "This is a string"
print(x[0]) #First character
print(x[0:1]) #First character because x:y y is not included
print(x[0:2]) #First two characters
print(x[-1]) #Last character
print(x[-4:-2]) #Two character start four elements from the end and stop in 2nd element from the end.
print(x[:3]) #Characters from start to 2 (3 is not included)
print(x[3:]) #Characters from 3 (4th) to end

T
T
Th
g
ri
Thi
s is a string

In [23]:
# We can concatened two or mor string with '+' symbol and another function for list
firstname = 'David'
lastname = 'Gonzalez'
print(firstname + ' ' + lastname)
print(firstname*3)
print('Dav' in firstname)
print("My name is {} {}".format(firstname, lastname)) #This is the better form to print message with variables
print(lastname + str(2)) #Only can concatened string, if we want concatenated a string with integer we need transform the integer in string with 'str()' function

David Gonzalez
DavidDavidDavid
True
My name is David Gonzalez
Gonzalez2

In [24]:
# Split is useful for separate string with a character to delimited the end of word
fullname = firstname + ' ' + lastname
print(fullname.split(' ')) #Split using empty space as separator
print(fullname.split('a')) #Split usign 'a' as separator

['David', 'Gonzalez']
['D', 'vid Gonz', 'lez']

### Tuples and dictionaries are differents form to organizate data, tuples are not mutable and dictioanries associate key with values. Let's see a diferent examples with this

In [36]:
x = (1,2,3,4) #tupple
print(x[0])
z = ('David', 'Gonzalez', 28)
name, lastname, age = z # Unpacking values of tupple
print(name+lastname+str(age))
y = {'Name': 'David', 'Lastname': 'Gonzalez', 'Age': 27}
print(y) #dictionary
y['Age'] = 28 #Change a value in dictionary using key for access to this
print(y['Age'])

1
DavidGonzalez28
{'Name': 'David', 'Lastname': 'Gonzalez', 'Age': 27}
28

In [34]:
for key, value in y.items():
    print("The key is {} an its value is {}". format(key, value)) # Get elements in dictionary

for value in y.values():
    print(value) # Get values of dictionary

for key in y.keys():
    print(key) #Get keys of dictionary

The key is Name an its value is David
The key is Lastname an its value is Gonzalez
The key is Age an its value is 28
David
Gonzalez
28
Name
Lastname
Age

## Reading and writing csv files
### The next section show function and examples for manipulating csv file. This kind of file are very common in data science

In [55]:
import csv #This library has useful functions for manipulating csv files
import os #This library is useful for get paths of files
%precision 2
with open(os.getcwd() + '\data\mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))

In [57]:
mpg[:3] #The first three dictionaries in our list.

[{'': '1',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'auto(l5)',
  'drv': 'f',
  'cty': '18',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '2',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '1.8',
  'year': '1999',
  'cyl': '4',
  'trans': 'manual(m5)',
  'drv': 'f',
  'cty': '21',
  'hwy': '29',
  'fl': 'p',
  'class': 'compact'},
 {'': '3',
  'manufacturer': 'audi',
  'model': 'a4',
  'displ': '2',
  'year': '2008',
  'cyl': '4',
  'trans': 'manual(m6)',
  'drv': 'f',
  'cty': '20',
  'hwy': '31',
  'fl': 'p',
  'class': 'compact'}]

In [65]:
print(len(mpg)) #Number of elements en mpg
print(mpg[0].keys()) #Keys of first dictionary in list
print(sum(float(d['cty']) for d in mpg) / len(mpg)) # Averange cty fuel economu across all cars
print(sum(float(d['hwy']) for d in mpg) / len (mpg)) # Averange hwy fuel economy across all cars
print(set(d['cyl'] for d in mpg)) # Set is equivalent a unique, show elements witouth repetitions
print(set(d['class'] for d in mpg)) #Set types or vehicles

234
dict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])
16.858974358974358
23.44017094017094
{'6', '5', '4', '8'}
{'subcompact', 'pickup', 'compact', '2seater', 'minivan', 'midsize', 'suv'}

3945.00