# Pandas Library
Pandas was created by Wes McKinney in 2008, and is an open source project under a very permissive license. As an open sourse prroject it's got a strong community, with over one hundred software developers all committing code to help make it better. Before pandas existed we had only hodge podge of tools to use, such as numpy, the python core libraries, and some python statistical tools. But pandas has quickly become the defacto library for representing relational data scientists.
I want to take a moment here to introduce the question answersing site Stack Overflow. Stack Overflow is used brodly within the software development community to post questions about programming, programming languages, and programming toolkits. What's special about Stack Overflow is that it's heavily curated by the community. And the Pandas community, in particular, uses it as their number one resource for helping new members. It's quite possible if you post a question to Stack Overflow, and tag it as being Pandas and Python related, that a core Pandas developer will actually respond to your question. In addition to posting questions, Stack Overflow is a great place to go to see what issues people are havind and how they can be solved. You can learn a lot from browsing Stacks at Stack Overflow and with pandas, this is where the developer community is.
A second resource you might want to consider are books. In 2021 Wes McKinney wrote the definitive Pandas reference book called Python for Data Analysis and published by O'Reilly, and it's recently been update to a second edition. I consider this the go to book for understanding how Pandas works. I also appreciate the more brief book "Learning the Pandas Library" by Matt Harrison. It's not a comprehensive book on data analysis and statistics. But if you just want to learn the basics of Pandas and want to do do quickly, I think it's a well laid out volume and it can be had for a good price.
The field of data science is rapidly changing. There's new toolkits and method being created everyday. It can be tough to say on top of it all. Marco Rodriguez and Tim Golden maintain a wonderful blog aggregator site called Planet Pyhton. Ypu can visit the webpage at planetpython.org, suscribe with an RSS reader, or get the latest articles from the the @PlanetPython Twitter feed. There's lots of regular Python data science contributos, and I highly recommend it if you follow RSS feeds.
## Series 
The series is one of tyhe core data structures in pandas. You think it a cross between a list and a dictionary. The items are all stored in an order and there's labels with which you can retrieve them. An easy way to visualize this is two columns of data. The first is the special index, a lot like keys in a dictionary. While the second is your actual data. It's important to note that the data column has a label of its own and can be retrieved using the name attribute. This is different than with dicitionaries and is useful when it comes to merging multiple columns of data. And we'll talk about that later on in the course

In [11]:
import pandas as pd # Import pandas library
import numpy as np

print(pd.Series(['Alice', 'Jack', 'Molly'])) # Index start in 0 automatically, it will be a object type
print(pd.Series([1, 2, 3])) # Type will be int64 beacuse it is stored using numpy library. 
print(pd.Series(['Alice', 'Jack', None])) # If we have a mnissing data in objects, the type will be object too
print(pd.Series([1, 2, None])) # If we have a missing data in int. the type will be float 64 with special value for None: NaN
print(np.nan == None) # NaN is not the same of None
print(np.nan == np.nan) # NaN is not equal itself
print(np.isnan(np.nan)) # To verifecate if a value es nan we need to use isnan function os numpy library
print(pd.Series({'Alice': 'Physics', 'Jack': 'Chemistry', 'Molly': 'English'})) # If we create a Serie with dictionary, the index will be automatically asign the keys
print(pd.Series([('Alice', 'Brown'), ('Jack', 'White'), ('Molly', 'Green')])) # Serie with more complex data, tuples in this case
print(pd.Series(['Physics', 'Chemistry', 'English'], index = ['Alice', 'Jack', 'Molly']))
print(pd.Series({'Alice': 'Physics', 'Jack': 'Chemistry', 'Molly': 'English'}, index = ['Alice', 'Molly', 'Sam'])) # If we provide index in dictionary, the values which don't have match if fill with nan

0    Alice
1     Jack
2    Molly
dtype: object
0    1
1    2
2    3
dtype: int64
0    Alice
1     Jack
2     None
dtype: object
0    1.0
1    2.0
2    NaN
dtype: float64
False
False
True
Alice      Physics
Jack     Chemistry
Molly      English
dtype: object
0    (Alice, Brown)
1     (Jack, White)
2    (Molly, Green)
dtype: object
Alice      Physics
Jack     Chemistry
Molly      English
dtype: object
Alice    Physics
Molly    English
Sam          NaN
dtype: object

Net we'll talk about one of the primary data types of the Pandas library, the Series. You'll lear about the structure of the Series, how to query and merge Series objects together, and the importance of thinking about parallelization  whe engaging in data science programming.

In [16]:
serie = pd.Series({'Alice': 'Physics', 'Jack': 'Chemistry', 'Molly': 'English', 'Sam': 'History'})
print(serie)
print(serie.iloc[3]) # get the four entry in data set, to search by number of entry we need to use iloc
print(serie.loc['Molly']) # To search by name of entry we need to use loc
# Keep in mind that iloc and loc are not methods, they are attributes. So you don't use parentheses to query them, but square brackets instead, which is called the indexing operator.
# Python try to do more simple and readable the sintaxes and show the value withouth loc and iloc function
print(serie[3])
print(serie['Molly']) # But if the indexes cause confused

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object
History
English
History
English

In [17]:
# If we have two option for select a way to do somenthing in Series is better select which implemented in numpy because it use parallel programing. Lets see a diference
numbers = pd.Series(np.random.randint(0, 1000, 10000))
numbers.head()

0    824
1    443
2    961
3      7
4    295
dtype: int32

In [19]:
%%timeit -n 100
total = 0
for number in numbers:
    total += number
    
total/len(numbers)
#In this example we usea a iterative method

1.57 ms ± 182 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [22]:
%%timeit -n 100
total = np.sum(numbers)
    
total/len(numbers)
#In this example we usea a iterative method
# We can make a mathematics operations in simple way, and it's the better form to do it. Lets see some example

96.3 µs ± 13.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [30]:
%%timeit -n 10
numbers = pd.Series(np.random.randint(0, 1000, 10000))
for label, value in numbers.iteritems():
    numbers.loc[label] = value + 2
# This example use a iterative form

278 ms ± 7.98 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [31]:
%%timeit -n 10
numbers = pd.Series(np.random.randint(0, 1000, 10000))
numbers+=2

266 µs ± 29.9 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [37]:
students_classes = pd.Series({'Alice': 'Physics',
                   'Jack': 'Chemistry',
                   'Molly': 'English',
                   'Sam': 'History'})
print(students_classes)
kelly_classes = pd.Series(['Philosophy', 'Arts', 'Math'], index=['Kelly', 'Kelly', 'Kelly'])
print(kelly_classes)
all_students_classes = pd.concat([students_classes, kelly_classes])
print(all_students_classes)
print(all_students_classes['Kelly'])

Alice      Physics
Jack     Chemistry
Molly      English
Sam        History
dtype: object
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object
Alice       Physics
Jack      Chemistry
Molly       English
Sam         History
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object
Kelly    Philosophy
Kelly          Arts
Kelly          Math
dtype: object